<% include ../partials/header %>


<div class="row">
    <div class="narrow-form">
        <form action="/polls/<%= poll._id %>" method="POST">
            <div class="form-group">
                <h3><%= poll.name %></h3>
            </div>
            <div class="form-group">
                <input type="radio" name="option" id="optionA" value="optionA">
                <label for="optionA"><%= poll.optionA %></label>
            </div>
            <div class="form-group">
                <input type="radio" name="option" id="optionB" value="optionB">
                <label for="optionB"><%= poll.optionB %></label>
            </div>
            <div class="form-group">
                <button class="btn btn-sm btn-success">Vote!</button>
            </div>
        </form>
        <p>
            <em>Submitted By: <a href="/profile/<%= poll.author.id %>"><%= poll.author.username %></a></em>
        </p>
        <% if(currentUser && (poll.author.id.equals(currentUser._id) || currentUser.isAdmin)) { %>
            <a class="btn btn-warning" href="/polls/<%= poll._id %>/edit">Edit</a>
            <form id="delete-poll" action="/polls/<%= poll._id %>?_method=DELETE" method="POST">
                <button class="btn btn-danger">Delete</button>
            </form>
        <% } %>
    </div>
    <div class="poll-results">
            <h4 class="poll-heading">Current results:</h4>
            <ul class="list-group">
              <li class="list-group-item">
                <em><%= poll.optionA %></em> <span class="badge"><%= poll.votes.optionA %></span>
              </li>
              <li class="list-group-item">
                <em><%= poll.optionB %></em> <span class="badge"><%= poll.votes.optionB %></span>
              </li>
            </ul>
            
    </div>
</div>

<% include ../partials/footer %>